   @import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

   html {
      font-size: 12px;
   }

   body {
      background-color: #39B4F9;
      font-family: 'Bangers', cursive;
      box-sizing: border-box;
      margin: 15px
   }

   #heading {
      text-align: center;
      font-size: calc(3rem + 3.6vw);
      color: #ffffff;
      filter: drop-shadow(3px 3px rgba(0, 0, 0, 0.226));
   }

   .main-container {
      display: flex;
      flex-direction: column;
      row-gap: 20px;
      align-items: center;
      justify-content: center;
      padding: 30px 10px;
   }

   .main-container p,
   h3 {
      margin-top: 0.2em;
      margin-bottom: 0.2em;
      flex-wrap: wrap;
   }

   .main-container p {
      color: rgb(77, 77, 77);
   }

   .menu-container {
      display: flex;
      position: relative;
      align-items: center;
      justify-content: center;
      max-width: vw;
      row-gap: 20px;
   }


   .h-camp-mid {
      width: 80vw;
      aspect-ratio: auto 2/3;
   }

   .h-gif {
      width: 80vw;
      aspect-ratio: auto 11/13;
   }

   .white-bg {
      display: flex;
      position: absolute;
      justify-content: center;
      align-items: center;
      width: 99%;
      height: 99%;
      border-radius: 12%;
      background-color: rgb(247, 247, 247);
   }

   .menu-frame {
      display: flex;
      position: absolute;
      flex-direction: column;
      row-gap: 10px;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;
      /* background-size: contain; */
      background-repeat: no-repeat;
      z-index: 50;
   }

   .campus {
      background-image: url('./assets/images/Campus.svg');
      filter: drop-shadow(0 10px 8px rgba(0, 0, 0, 0.185)) drop-shadow(0 4px 6px rgba(0, 0, 0, 0.212));
   }

   .midtown {
      background-image: url('./assets/images/Midtown.svg');
      filter: drop-shadow(0 10px 8px rgba(0, 0, 0, 0.185)) drop-shadow(0 4px 6px rgba(0, 0, 0, 0.212));
   }

   .gif {
      background-image: url('./assets/images/GIF.svg');
      filter: drop-shadow(0 10px 8px rgba(255, 35, 189, 0.322)) drop-shadow(0 4px 6px rgba(255, 36, 226, 0.582));
   }

   #img-container {
      display: flex;
      justify-content: center;
      align-items: center;
      /* max-height: 50%; */
      max-width: 70%;
      padding-top: 15px;
   }

   img {
      width: 100%;
      height: 100%;
      margin-left: auto;
      margin-right: auto;
   }

   .menu-item:nth-child(1) {
      /* outline: solid; */
      margin-top: 30px;
   }

   .menu-item {
      background-color: white;
      padding: 10px;
      border-radius: 8px;
      width: 65%;
      font-size: calc(1rem + 0.5vw);
   }


   .no-menu {
      text-align: center;
   }



   @media (min-width: 768px) {

      h3 {
         font-size: calc(0.5rem + 1vw);
      }

      p {
         font-size: calc(0.3rem + 1vw);
      }

      .main-container {
         flex-direction: row;
         column-gap: 5%;
      }

      .menu-frame {
         column-gap: 10px;
      }

      .h-camp-mid {
         min-width: 20%;
         max-width: 22%;
         aspect-ratio: auto 2/3;
      }

      .h-gif {
         min-width: 20%;
         max-width: 22%;
         aspect-ratio: auto 11/13;
      }

      img {
         max-width: 300px;
         max-height: 300px;
      }


   }
